.text-left {
  text-align: left !important;
}

.cb-section {
  padding: 60px 0;
}

.cb-title {
  * {
    margin-bottom: 1.875rem;
    color: #073a4b;
    font-size: 1.875rem;
    font-weight: 700;
  }

  &.cb-title-center {
    text-align: center;
  }
}

a {
  text-decoration: none;
}

.all-product-service {
  background-color: #fcfcfc;

  .cb-title {
    margin-bottom: 25px;
    font-size: 36px;
    color: #182642;
    text-align: center;
  }

  .sub-title {
    margin-bottom: 45px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    >* {
      font-size: 18px;
      color: #172642;

      font-weight: 400;
      text-align: center;
    }
  }

  .list-service {
    >.row {
      >* {
        margin-bottom: 50px;
      }
    }

    .co-item-service {
      margin-bottom: 20px;
    }

    .item {
      max-width: 680px;
      padding: 30px;
      padding-left: 35px;
      height: 100%;
      -webkit-box-align: start;
      -ms-flex-align: start;
      -ms-flex-wrap: wrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 15px;
      border: 1px solid #e0e0e0;
      background: #ffffff;

      .image {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex: 0 0 90px;
        align-items: center;
        justify-content: center;
        width: 90px;
        max-width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;

        a {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-decoration: none;
        }

        img {
          max-width: 70px;
          max-height: 70px;
        }
      }

      .caption {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 90px);
        flex: 0 0 calc(100% - 90px);
        max-width: calc(100% - 90px);
        padding-left: 15px;
        padding-left: 25px;

        a {
          text-decoration: none;
        }

        .title {
          margin-bottom: 8px;

          a {
            font-size: 18px;
            color: #172642;
            font-size: 16px;
            font-weight: 900 !important;
            text-transform: uppercase;
          }
        }

        .content {
          padding-left: 0;
          padding-right: 0;
          display: block;
          overflow: hidden;
          color: #172642;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          text-align: justify;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.all-product-benefit {
  .cb-title {
    margin-bottom: 25px;
    font-size: 36px;
    color: #182642;
    text-align: center;
  }

  .sub-title {
    margin-bottom: 45px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    >* {
      font-size: 18px;
      color: #172642;

      font-weight: 400;
      text-align: center;
    }
  }

  .benefit-item {
    .icon {
      text-align: center;

      img {
        border-style: none;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
      }
    }

    .content {
      max-width: 290px;
      margin-top: 15px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      padding: 0;
    }
  }
}

.employer-customer {
  overflow: hidden;

  .cb-title {
    text-align: center;
  }

  .sub-title {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto 45px auto;
  }

  .swiper-grid-column>.swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    height: auto;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-slide {
    overflow: hidden;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 127px !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
    margin-top: 0 !important;

    img {
      max-width: 100%;
      height: auto;
    }

    &:nth-child(2n) {
      background-color: #ebf8ff;
    }
  }

  .view-more {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .btn-gradient {
      background: linear-gradient(to right, #2d7bb7, #1e9bd3, #2d7bb7);
      background-size: 200% 100%;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
}

.all-product-customer-reviews {
  background-size: cover;
  background-position: center center;

  .cb-title {
    h2 {
      margin-bottom: 25px;
      font-size: 36px;
      color: #ffffff;
      text-align: center;
    }
  }

  .main-slide {
    overflow: hidden;
  }

  .swiper-wrapper {
    height: auto;
  }

  .customer-reviews-item {
    padding: 30px 25px;
    background-color: #ffffff;

    .head {
      -webkit-box-align: start;
      -ms-flex-align: start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -ms-flex-wrap: wrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      padding-bottom: 20px;
      border-bottom: 2px solid #efefef;

      .avata {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
        flex: 0 0 70px;
        width: 100%;
        max-width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius: 50%;
      }

      .content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 70px);
        flex: 0 0 calc(100% - 70px);
        width: 100%;
        max-width: calc(100% - 70px);
        padding-left: 10px;
        padding-right: 10px;

        .name {
          color: #172642;
          font-size: 16px;
          font-weight: 700;
        }

        .position,
        .company {
          color: #666666;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    .body {
      padding-top: 15px;

      .content {
        padding: 0;
        margin-top: 10px;

        * {
          color: #172642;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    .list-star {
      -webkit-box-align: center;
      -ms-flex-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      list-style-type: none;
      padding-left: 0;
    }
  }
}

.all-product-banner {
  .main-slide {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .swiper-wrapper {
    height: auto;
  }

  .swiper-slide {
    img {
      width: 100%;
    }
  }

  .banner-pc {
    display: block;
  }

  .banner-mb {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .all-product-banner {
    img {
      display: block;
    }

    .banner-mb {
      display: block;
    }

    .banner-pc {
      display: none;
    }
  }
}

.home-salary-banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;

  .top-intro {
    margin-left: 100px;
    padding: 50px 0;
  }

  .top-title {
    background: linear-gradient(180deg,
        rgba(110, 194, 84, 1) 0%,
        rgba(33, 161, 112, 1) 100%);
    padding: 2px 2px 2px 2px;
    border-radius: 0 30px 30px 0;
    position: absolute;
    left: -2px;
    top: 20px;
    overflow: hidden;

    h1 {
      color: #009b74;
      font-weight: 500;
      padding: 15px 10px;
      background: #fff;
      max-width: 200px;
      border-radius: 0 30px 30px 0;
      text-align: center;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .text-intro-1 {
    font-size: 30px;
    color: #373737;

    p {
      display: flex;
      align-items: center;
      line-height: 60px;
      margin-bottom: 10px;

      strong {
        font-size: 60px;
        display: inline-flex;
        margin: 0 15px;
        background: -webkit-linear-gradient(180deg, #14905a, #65bb50);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .text-intro-2 {
    font-size: 22px;
    color: #464545;
    line-height: 30px;

    strong {
      font-size: 30px;
    }
  }

  .main-salary {
    position: relative;
    z-index: 11;
    background: #fff;

    .list-form-group {
      -ms-flex-wrap: wrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      -webkit-box-shadow: 0 0 10px 2px #ddd;
      -moz-box-shadow: 0 0 10px 2px #ddd;
      box-shadow: 0 0 10px 2px #ddd;

      .form-group {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% - 85px) / 4);
        flex: 0 0 calc((100% - 85px) / 4);
        max-width: calc((100% - 85px) / 4);
        margin-top: 0;
        margin-right: 10px;

        input,
        select {
          width: 100%;
          height: 45px;
          padding: 5px 15px;
          color: #666666;
          font-size: 14px;
          font-weight: 400;
          border: 1px solid #ddd;
          border-radius: 5px;
        }

        &.form-submit {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 45px;
          flex: 0 0 45px;
          max-width: 45px;
          margin-right: 0;

          .btn-gradient {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            width: 100%;
            height: 45px;
            border-radius: 5px;
            background: #00b2a3;
            transition: 400ms;
            border: 1px solid #00b2a3;

            em {
              color: #333;
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

.home-salary-tags {
  padding: 30px 0 50px 0;

  .cb-title {
    h2 {
      margin-bottom: 30px;
    }

    &.cb-title-center {
      text-align: center;

      * {
        margin-bottom: 1.875rem;
        color: #073a4b;
        font-size: 1.875rem;
        font-weight: 700;
      }

      p {
        text-transform: uppercase;
        color: #767676;
        font-size: 18px;
        margin-bottom: 0;
        font-weight: normal;
      }
    }
  }

  .list-tag {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin: 0 15px 15px 0;

        a {
          background: #e5e5e5;
          color: #464545;
          font-size: 17px;
          display: inline-block;
          padding: 10px 40px;
          border-radius: 25px;
          font-weight: normal !important;
          text-decoration: none;
        }
      }
    }
  }
}

.home-salary-1 {
  background: #faf9fe;

  .iframe {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    height: auto;
    margin-bottom: 20px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .main-content {
    ul {
      list-style-type: none;
      padding-left: 30px;

      li {
        max-width: 580px;
        margin-bottom: 40px;

        -ms-flex-align: start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;

        .text {
          padding-left: 30px;

          h3 {
            margin-bottom: 3px;
            color: #172642;
            font-size: 16px;
            font-weight: 700;
          }

          p {
            color: #5d677a;
            font-size: 16px;
            font-weight: 400;
          }

          a {
            display: block;
            margin-top: 6px;
            color: #109ed9 !important;
            font-size: 16px;
            text-decoration: underline;
            font-weight: 400 !important;

            strong {
              font-weight: 700;
              color: #109ed9 !important;
            }

            i {
              font-style: italic;
              color: #109ed9 !important;
            }
          }
        }
      }
    }
  }
}

.home-salary-3 {
  background: #faf9fe;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      width: 100%;
      max-width: 50%;
      margin-bottom: 30px;
      position: relative;
      display: flex;
      position: relative;
      align-items: flex-start;

      .icon {
        width: 75px;
        min-width: 75px;
        height: 100%;
      }

      .content {
        padding-left: 60px;
        padding-right: 0;
        position: relative;
        max-width: 440px;

        h3 {
          margin-bottom: 3px;
          color: #172642;
          font-size: 16px;
          font-weight: 700;
        }

        p {
          color: #5d677a;
          font-size: 15px;
          font-weight: 400;
        }

        a {
          display: inline-block;
          margin-top: 6px;
          color: #5d677a !important;
          font-size: 15px;
          text-decoration: none;
          font-weight: 400 !important;

          &:hover {
            color: #109ed9 !important;
          }
        }

        &:before {
          position: absolute;
          top: 0;
          left: 30px;
          width: 1px;
          height: 100%;
          background: #70bedd;
          content: "";
          pointer-events: none;
        }
      }

      .text {
        padding-left: 30px;

        h3 {
          margin-bottom: 3px;
          color: #172642;
          font-size: 16px;
          font-weight: 700;
        }

        p {
          color: #5d677a;
          font-size: 16px;
          font-weight: 400;
        }

        a {
          display: block;
          margin-top: 6px;
          color: #5d677a !important;
          font-size: 16px;
          text-decoration: underline;
          font-weight: 400 !important;

          &:hover {
            color: #109ed9 !important;
          }
        }
      }
    }
  }
}

.links a,
.term-link a {
  color: var(--bs-body-color);
  font-size: 16px;
  text-decoration: none;
}

.iconawesome {
  font-size: 16px;
  color: #ffffff !important;
}

.searchform .btn .fa-search {
  color: #ffffff;
}

.form-group-select2 {
  .select2-container {
    width: 100% !important;
  }

  .select2-selection {
    background-color: #ffffff;
    border: 1px solid #d9dbe9;
    border-radius: 8px;
    padding: 11px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
  }
}

.datepicker {
  font-size: 13px;
  padding: 10px;

  .datepicker-switch {
    text-align: center;
  }

  .next {
    text-align: right;
  }

  .day {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;

    &.active {
      background-color: var(--blue);
      color: #ffffff;
    }
  }
}

.section-for-recruiter {
  .inner-content {
    justify-content: space-between;
    flex-wrap: wrap;

    .my-content {
      width: 100%;
      flex: 0 0 calc(100% - 220px);
      max-width: calc(100% - 220px);
      padding-right: 12px;
    }

    .my-auto {
      width: 100%;
      flex: 0 0 220px;
      max-width: 220px;

      .btn-outline-reverse {
        width: 100%;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}

.btn-outline-primary {
  .iconoutline {
    color: var(--bs-primary);
  }

  &:hover {
    .iconoutline {
      color: #ffffff;
    }
  }
}

.header-bar {
  .search-form {
    #advanced-search {
      .fa-search-plus {
        width: 24px !important;
      }
    }
  }
}

.form-calculate {
  .frm-radio {
    margin-right: 10px;

    label {
      padding-left: 28px;
      color: #5d677a;
      font-size: 14px !important;
      font-weight: 400 !important;
      cursor: pointer !important;

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        border: 1px solid #287ab9;
        display: block !important;
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        cursor: pointer !important;
      }

      &::after {
        content: "" !important;
        position: absolute;
        top: 4px !important;
        left: 4px !important;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #287ab9;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        cursor: pointer !important;
      }
    }

    input[type="radio"]:checked~label {
      &::after {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.salary-calculator-modal {
  .modal-body {
    .form-group {
      input#fullwageOther {
        margin-top: 0 !important;
      }
    }
  }
}

footer {
  .contact-detail {
    padding-left: 10px;
    margin-left: 0;

    p {
      text-indent: 0;
      position: relative;
      padding-left: 30px;

      i.far {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20px;
      }
    }
  }
}

.widget-dashboard {
  .our-packages {
    .item-package {
      .package {
        ul {
          li {
            text-align-last: unset;
          }
        }

        &.package-center {
          text-align: center;

          ul {
            .plan-pages {
              text-align: center;
              margin-bottom: 15px;
            }

            .order {
              padding: 0;
              margin-bottom: 15px;
              text-transform: capitalize;

              i {
                color: #ffffff;
              }
            }
          }
        }
      }

      &:nth-child(6n + 1) {
        .package {
          &::before {
            background: #3361ff;
          }

          .price {
            color: #3361ff;
          }
        }
      }

      &:nth-child(6n + 2) {
        .package {
          &::before {
            background: #9333ea;
          }

          .price {
            color: #9333ea;
          }
        }
      }

      &:nth-child(6n + 3) {
        .package {
          &::before {
            background: #ffbd35;
          }

          .price {
            color: #ffbd35;
          }
        }
      }

      &:nth-child(6n + 4) {
        .package {
          &::before {
            background: #198754;
          }

          .price {
            color: #198754;
          }
        }
      }

      &:nth-child(6n + 5) {
        .package {
          &::before {
            background: #fd7e14;
          }

          .price {
            color: #fd7e14;
          }
        }
      }

      &:nth-child(6n + 6) {
        .package {
          &::before {
            background: #6610f2;
          }

          .price {
            color: #6610f2;
          }
        }
      }
    }
  }
}

.widget-dashboard {
  .widget-title {
    .iconmoon {
      font-size: 20px;
      color: #696974;
      margin-right: 8px;

      &::before {
        color: #696974;
      }
    }
  }
}

.modal-upgrade-package {
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 36px;
    height: 36px;
    background-color: #cdcdcd;
    border-width: 0;
    color: #f8f8f8;
    text-align: center;
    line-height: 36px;
  }
}

.list-group-item {
  &.active {
    strong {
      color: var(--bs-primary);
    }
  }
}

.searchList {
  .jobinfo {
    h3 {
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: var(--bs-primary);
        font-size: 20px;
      }
    }

    .companyName {
      a {
        text-decoration: none;

        &:hover {
          color: var(--bs-primary);
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .home-salary-banner .top-intro {
    margin-left: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .home-salary-banner {
    .top-intro {
      margin-left: 0;
    }

    .top-title {
      border-radius: 30px;
      margin-bottom: 20px;
      background: #ffffff;
      position: static;
      border: 2px solid #21a170;
      border-radius: 25rem;
      max-width: 550px;
      margin-bottom: 20px;

      h1 {
        max-width: 100%;
        font-size: 28px;
      }
    }

    .text-intro-1 {
      font-size: 22px;
      line-height: 32px;

      strong {
        font-size: 32px;
      }
    }

    .text-intro-2 {
      font-size: 18px;

      strong {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .home-salary-banner {
    .main-salary {
      .list-form-group {
        flex-direction: row;
        justify-content: space-between;

        .form-group {
          flex: 0 0 calc(50% - 20px);
          max-width: calc(50% - 20px);
          margin-bottom: 20px;

          &.form-submit {
            flex: 0 0 100px;
            max-width: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {


  h2.cb-title,
  .cb-title h2 {
    font-size: 20px;
  }

  .home-salary-3 {
    ul {
      li {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
  }

  .home-salary-banner {
    .main-salary {
      .list-form-group {
        flex-direction: row;
        justify-content: space-between;

        .form-group {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 20px;

          &.form-submit {
            flex: 0 0 100px;
            max-width: 100px;
          }
        }
      }
    }
  }

  .home-salary-banner {
    .top-intro {
      margin-left: 0;
    }

    .top-title {
      margin-bottom: 20px;

      h1 {
        max-width: 100%;
        font-size: 18px;
      }
    }

    .text-intro-1 {
      font-size: 18px;
      line-height: 24px;

      strong {
        font-size: 24px !important;
      }
    }

    .text-intro-2 {
      font-size: 18px;

      strong {
        font-size: 20px;
      }
    }
  }

  .section-for-recruiter {
    .inner-content {
      .my-content {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }

      .my-auto {
        width: 100%;
        flex: 0 0 220px;
        max-width: 220px;

        .btn-outline-reverse {
          width: 100%;

          i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .widget-dashboard {
    .our-packages {
      .item-package {
        margin-bottom: 20px;
      }
    }
  }
}

.breadcrumbs {
  background-color: #f0f0f0;
  padding: 20px 0 20px 0;

  .breadcrumb {
    .breadcrumb-item {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;

      a {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #9B9B9F;

        &:hover {
          color: var(--bs-primary);
        }
      }
    }
  }
}

.listpgWraper {}

.posted-job {
  .job-title {
    position: relative;

    .btn-refresh-job-feature {
      position: absolute;
      top: -10px;
      right: -50px;
      cursor: pointer;
      z-index: 2;

      .iconmoon {
        &::before {
          color: var(--bs-primary);
          font-size: 20px;
        }
      }

      &.disabled,
      &:disabled {
        cursor: no-drop;

        .iconmoon {
          &::before {
            color: var(--sub-text);
          }
        }
      }
    }
  }
}