.animation {
    position: relative;
    opacity: 0;
  }
  
  .animation.active {
    opacity: 1;
  }
  .active.fade-top {
    animation: fade-top 0.7s ease-in;
  }
  .active.fade-bottom {
    animation: fade-bottom 0.7s ease-in;
  }
  .active.fade-left {
    animation: fade-left 0.7s ease-in;
  }
  .active.fade-right {
    animation: fade-right 0.7s ease-in;
  }

  @keyframes fade-top {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }






