.company-wrapper{
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    background-color: #f0f0f0;
}
.company-content .widget-dashboard  {
    overflow: hidden;
    height: 100%;
    margin-bottom: 20px;
}
.company-wrapper .company-content {
    padding: 60px 0;
}
.posted-manager-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.posted-manager-header a {
    margin: 0  10px;
}

.badge.btn-dot{
    font-size: 15px;
}
.btn-veiw-profile{
    font-size: 13px !important;
    color: var(--bs-primary);
    text-decoration: underline;
}

#company-default-nav {
    background-color: white;
    border: 1px solid #e6e6e7;
    position: fixed;
    top: 76px;
    left: 0;
    right: 0;
    z-index: 8;
}
#company-default-nav .nav-item {
    margin: 0 2px;
    position: relative;
}

#company-default-nav .nav-item a{
    font-size: 18px;
    font-weight: 500;
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: var(--text-main);
}


#company-default-nav .nav-item::after{
    content: "";
    width: 100%;
    height: 0;
    background-color: var(--bs-primary);
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} 


#company-default-nav .nav-item:hover::after {
    border-bottom: 3px  solid var(--bs-primary);
    top: calc(100% - 2px); 
}

#company-default-nav .nav-item.active  {
    border-bottom: 3px  solid var(--bs-primary);
}


#company-default-nav .nav-item.active a {
    color: var(--bs-primary);
}


.head {
    padding: 20px ;
    background-color: var(--bs-primary);
}

.head .title-dashboard {
    font-size: 20px;
    text-align: center;
    color: white;
    
}
.company-account-information {
    list-style-type: none;
    padding: 10px;
}
.company-account-information li {
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 20px;
}
.company-account-information li p {
    margin-right: 10px;
    font-size: 18px;
    color: var(--bs-primary);
}

.company-account-information li a {
    font-size: 18px;
    color: var(--text-main);
}
.custom-control {
    margin: 0 10px ;
}
.title-manage {
    font-size: 35px;
    font-weight: 700;
}

.section_postnow {
    padding: 40px 0;
}
.introduce {
    background-color: var(--bs-gray-100);
    padding:35px 70px;
    width: 100%;
}
.card-head{
    display: flex;
    padding: 10px 20px;
    font-size: 40px;
}

.card-head i {
    margin-right: 10px;
    color: var(--bs-primary);
    font-weight: 500;
}
.card-head h5 {
    font-size: 23px;
    margin-bottom: 0;
    /* margin: 10px; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 23px;
    /* font-weight: 600; */
    text-overflow: ellipsis;
    line-height: 40px;
    /* line-height: 40px;*/
}

.card-body .card-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.introduce .card {
    max-height: 200px;
    overflow: hidden;
}
.introduce__slide  {
    padding:30px 80px;
}
.introduce_Swiper {
    width: 100%;
    padding: 10px;
}
.introduce_Swiper  .swiper-slide{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 10px;
}
.introduce_Swiper  .swiper-slide img {
    width: 100%;
}
.introduce_Swiper .swiper-pagination {
    bottom: -4px;
}
.our_customer {
    padding: 80px 0;

}
.our_customer .group-company {
    display: flex;
    -webkit-display: flex;
    -khtml-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 20px 0;
    flex-wrap: wrap;
}
.our_customer .group-company img {
    width: 170px;
    height: 100px;
}

.trust-by {
    flex: 20%; 
}
.login-link {
    font-weight: 600;

}
.login-link:hover {
    text-decoration: underline;
}
.view-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box-dasboard-top {
    height: 325px;
}
ul.list-unstyled.components.sidebar-bottom__item li{
    margin: 10px  0;
}
.media-body {
    text-align: end;
}
.paypackages {
    margin-top: 20px;
}
.posted-manager_tb_row {
    height: 50px;
}


.about_us_content__text {
    line-height: 36px;
    font-size: 18px;
    font-weight: 500;
   
}
.about_us_content__img {
    max-height: 700px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    #company-default-nav {
        display: none;
    }
    .company-wrapper {
        top: 0;
    }
    .company-wrapper .company-content {
        padding: 10px 5px;
    }
    .company-content .widget-dashboard {
        height: unset;
    }
    .filter-job .form-group {
        margin-bottom:10px;
    }
    .filter-job .form-group button.btn.btn-primary {
        width: 100% !important;
    }
    .row.filter-job {
        margin: 10px 0;
    }

    a.px-auto.btn.btn-outline-primary{
        width: 40% !important;
        margin: 5px;

    }
    .group-button-applycation a.px-auto.btn.btn-outline-primary{
        margin: 3px;
        width: 30% !important;
    }
    .all-product-service.cb-section {
        margin-top: 60px !important;
    }
    .all-product-service .list-service .item {
        flex-direction: column;
    }
    .all-product-service .list-service .item .image {
        max-width:100%
    }
    .all-product-service .list-service .item .caption {
        max-width:100%
    }
    .introduce {
        padding: 0;
    }
    .introduce__slide {
        display: none;
    }
    .our_customer .group-company {
       
        flex-wrap: wrap;
    }
    .trust-by {
        flex: 50%; 
    }
    .login-img-swapper {
        display: none;
    }
    .group-button {
        flex-direction: column;
        justify-content: start;
    }
    .job-seekers-page {
        margin-top: 160px;
    }

}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    #company-default-nav {
        display: none;
    }
    .company-wrapper {
        top: 0;
    }
    .company-wrapper .company-content {
        padding: 20px 10px;
    }
    .company-content .widget-dashboard {
        height: unset;
    }
    a.px-auto.btn.btn-outline-primary {
        width:23% !important;
    }
    .modal-company-profile-dialog {
        width: 90% !important;
        max-width:90% !important;
    }
    .introduce__slide {
        display: none;
    }
    .our_customer .group-company {
        justify-content: center
    }
    .trust-by {
        flex: 50%;
        display: flex;
        justify-content: center;
    }
    .login-img-swapper {
        display: none;
    }
    .group-button {
        flex-direction: column;
        justify-content: start;
    }
    .job-seekers-page {
        margin-top: 160px;
    }
 
}

@media only screen and (min-width: 992px) { 
    
}
  
  
