.user-wrapper .content {
    padding: 40px 80px;
    width: 100%;
    background-color: #f0f0f0;
}
.company-wrapper.company-list-wrapper {
    top: 0;
    margin-top: 50px;
}

.content.addjob {
    padding: 20px;
}


.sidebar-bottom__item .group-button a {
    margin: 10px 0;
}


.section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 60px;
    width: 100%;
}

.user-account-section {
    padding: 30px;
}

.section-head,
.section-body {
    padding: 0 20px;
    margin: 10px 0;
    margin-bottom: 20px;
}

.form-user-profile .title-form {
    text-align: unset;
    font-size: 23px;
    font-weight: 700;
}


.form-user-profile .formrow label span,
.form-user-profile .formrow label i {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--sub-text);
    margin-bottom: 8px;
}


.user__name h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--bs-primary);

}

.user__infomation h5 {
    font-size: 19;
    font-weight: 500;
    color: var(--sub-text);
}

.user__complete_section {}


.section-head__figure {
    display: flex;
    align-items: center;
    height: 100%;
}

.figure__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    margin-right: 15px;
}

.figure__image img {
    height: 100%;
    width: 100%;
}

.figure__caption h5 {
    color: var(--bs-primary);
}

.figure__caption .status {
    font-size: 17px;
    font-weight: 700;

}

.figure__caption .status.error p {
    color: rgb(236, 120, 120);
}

.figure__caption .status.complete p {
    color: #2aba2a;
}

.section-head__right-action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-action__tips {
    display: flex;
    margin-right: 10px;
    cursor: pointer;

}

.right-action__tips i,
.right-action__tips p {
    font-size: 16px;
    font-weight: 700;
    margin: 0 2px;
}

.right-action__tips i {
    color: darkorange;
}


.right-action__link-edit {
    width: 140px;
    max-width: 170px;
    padding: 8px;
    border: 2px solid var(--bs-primary);
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}

.right-action__link-edit a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-primary);
}

.right-action__link-edit a i {
    color: var(--bs-primary);
    margin-right: 5px;
}

.password-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-box input {
    background: none;
    outline: none;
    border: none;
}

.table_title {
    width: 300px;
}

/* table_value */


.table_title strong {
    color: var(--bs-primary);
}

.table_title i {
    margin-right: 5px;
}

.table_value {
    font-size: 15px;
    font-weight: 500;
}

.table_value input {
    background: none;
    outline: none;
    border: none;
}

.table_value select {
    background: none;
    outline: none;
    border: none;
}


/* Jobster Candidate */
.jobster-candidate-timeline {
    position: relative;
}

.jobster-candidate-timeline:before {
    content: "";
    position: absolute;
    left: 20px;
    width: 2px;
    top: 5px;
    bottom: 5px;
    height: calc(100% - 5px);
    background-color: var(--bs-primary);
}

.jobster-candidate-timeline .jobster-timeline-item {
    display: table;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-cricle {
    border-radius: 50%;
    border: 12px solid white;
    z-index: 1;
    top: 5px;
    left: 9px;
    position: absolute;
}

.jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-cricle:before {
    content: "";
    position: absolute;
    left: 12px;
    width: 20px;
    top: -1px;
    bottom: 5px;
    height: 2px;
    background-color: var(--bs-primary);
}

.jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-cricle>i {
    font-size: 15px;
    top: -8px;
    left: -7px;
    position: absolute;
    color: var(--bs-primary);
}

.jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-info {
    display: table-cell;
    vertical-align: top;
    padding: 5px 0 0 70px;
}

.jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-info h6 {
    color: var(--bs-primary);
    margin: 5px 0 0px;
}

.jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-info span {
    color: #212529;
    font-size: 13px;
    font-weight: 500;
}

.jobster-candidate-timeline span.jobster-timeline-time {
    color: #646f79 !important;
}

.jobster-candidate-timeline .jobster-timeline-icon {
    border: 2px solid #eeeeee;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    background: #ffffff;
    position: relative;
    margin-bottom: 20px;
}

.jobster-candidate-timeline .jobster-timeline-icon i {
    font-size: 16px;
    color: #212529;
}

.right-action__link-edit-mobile {
    display: none;
}

.right-action__link-edit-mobile a i {
    color: var(--bs-primary);
}


.bd_bottom li {
    border-bottom: #e8ebee 1px solid;
}


.list-company.hideContent {
    overflow: hidden;
    transition: all 2s;
}

.list-company.hideContent {

}


.showContent {
    height: auto;
}

.formrow iframe {
    height: 78px;
}

i.fas.fa-heart.iconoutline {
    font-size: 24px;
    color: #981b1d;
}

.company-list-wrapper {
    top: 0px;
    background-color: white !important;
}

.company-list-container {
    padding: 40px 0;
    background-color: white;
}

.topcompanyhead__search {
    margin: 20px 0;
}

.search-company .search__box {
    width: 100%;
    height: 50px;
    position: relative;
    border-radius: 7px;

    overflow: hidden;
}

.search-company .search__box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 0 20px;
    border: 1px solid #cccc;
}

.search-company .search__box input:focus {
    border: 1px solid var(--bs-primary);
}

.search-company .search__box button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 7px;
}

.topcompanyhead,
.bottomcompanycontent {
    padding: 10px 25px;
}



.bottomcompanycontent {
    position: relative;
    background-color: white;
}

.bottomcompanyconten__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-company {
    width: 200px;
    max-width: 250px;

}

.list-company {
    margin-top: 20px;
    width: 100%;
    margin-right: -16px;
}

.company-item-wrapper {
    width: calc(24.8% - 18px);
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 6px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    position: relative;
    transition: all 2s;
}

.company-item-header {

    position: relative;
    display: flex;
}

.company-items__background {
    width: 100%;
    height: 117px;
    position: absolute;
}

.company-items__background .background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.company-items__logo {
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-left: 10px;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 1px 2px);
    padding-top: 20%;
}

.company-items__logo img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    right: 0;
    object-fit: contain;
}

.company-items__follower {
    position: absolute;
    top: 125px;
    right: 30px;
}

.company-items__desc {
    padding: 10px 20px;
}

.company-items__name {
    margin-top: 10px;
}

.company-items__name h3 {

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.company-items__category {
    margin: 10px 0;
}

.company-items__bottom {
    width: 100%;
    padding: 0 20px;
}

.company-items__bottom .btn {
    width: 100%;
    font-size: 18px;
}

.company-items__bottom .btn i,
.company-items__bottom .btn i.iconoutline {
    font-size: 17px;
}

.show-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hide {
    display: none;
}

.card-news__content-footer__salary  .btn.btn-primary i{
    color: white;
}

.radio-list  .radio-inline {
    margin: 10px 20px;
}

.topcompanyhead h1 {
    font-size: 30px;
}
.bottomcompanyconten__head h2 {
    font-size: 27px;
}
.company-item-wrapper {

}




@media only screen and (max-width: 767px) {
    .content {
        padding-left: 8px;
        padding-right: 8px;
        padding: 8px 0;
    }

    .right-action__tips p {
        display: none;
    }

    .right-action__link-edit {
        display: none;
    }

    .right-action__link-edit-mobile {
        display: block;
    }

    .right-action__tips {
        margin-left: 20px;
    }

    #mobile-sidebar.active {
        max-height: calc(100% - 76px);
    }

    #mobile-sidebar.active .sidebar-bottom {
        bottom: 0 !important;
    }

    .user-wrapper .content {
        padding-left: 8px;
        padding-right: 8px;
    }

    .table_title {
        width: 100px;
    }

    .modal-body .nav-tabs {
        margin-bottom: 20px;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        /* width: 100%; */
        flex-wrap: unset;
    }
    .topcompanyhead__search .col-6 {
        width: 100%;
        margin: 10px 0;
      }
      .topcompanyhead, .bottomcompanycontent {
        padding: 10px 10px !important;
      }
    
      .bottomcompanyconten__head{
         flex-direction: column !important;
         justify-content: flex-start !important;
         align-items: flex-start !important;
      }
      .bottomcompanyconten__head h2 {
        margin: 20px 0;
      }
      .filter-company {
        width: 100% !important;
        max-width: unset !important;
      }
      .company-item-wrapper {
        width: 100% !important;
      }
     
        .body-list-schedule-interview .content-list-schedule-interview .table-schedule-interview thead tr th {
            padding: 14px 0px;
        }

    .card-body-profile-seeker { 
        padding-right:0
    }
    .modal-dialog.modal_user_dialog {
        max-width: 98% !important;
    }
    .act-dropdown {
        top: 30px;
    }
    .modal-dialog.modal-company-profile-dialog {
        width: 95%;
        min-width: 95%;
        max-width: 95%;
    }
    .modal-dialog.modal-company-profile-dialog .modal-body {
        padding: unset;
    }
    .section-company-profile {
        padding: 5px;
    }
    .section-company-profile .company-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .section-company-profile .box-content .company-name,
      .section-company-profile .box-content .company-position
      {
        text-align: center;
      }
      .section-company-profile .box-content .company-info__item {
        align-items: center;
        justify-content: center;
      }
      .section-company-profile .socials {
        margin: 10px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .section-company-profile .socials .social {
        margin-right: 40px;
      }
      li .group-button {
        width: 100%;
        flex-direction: column;
      }
      li .group-button .btn {
        width: 100%;
      }
      li .group-button .btn.login-btn {
        background-color: white;
        color: var(--bs-primary);
      }
      
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .user-wrapper .content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .company-item-wrapper {
        width: calc(50% - 18px);
    }
    .card-body-profile-seeker {
        padding-right: 0;
    }
    .section-company-profile .company-profile {
        margin-bottom: 20px;
    }
    li .group-button {
        width: 100%;
        flex-direction: column;
    }
      li .group-button .btn {
        width: 100%;
    }
    li .group-button .btn.login-btn {
        background-color: white;
        color: var(--bs-primary);
    }
}


@media only screen and (min-width: 992px) {}